<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardDefaults</key>
	<dict>
		<key>backgroundColor</key>
		<string>62345678</string>
		<key>cornerStyle</key>
		<integer>1</integer>
		<key>fontSize</key>
		<real>3</real>
		<key>orientation</key>
		<integer>2</integer>
		<key>text</key>
		<string>Defaults:Text</string>
		<key>textColor</key>
		<string>52345678</string>
	</dict>
	<key>cards</key>
	<array>
		<dict>
			<key>backgroundColor</key>
			<string>22345678</string>
			<key>cornerStyle</key>
			<integer>1</integer>
			<key>fontSize</key>
			<real>1</real>
			<key>orientation</key>
			<integer>0</integer>
			<key>text</key>
			<string>Card1:Text</string>
			<key>textColor</key>
			<string>12345678</string>
		</dict>
		<dict>
			<key>backgroundColor</key>
			<string>42345678</string>
			<key>cornerStyle</key>
			<integer>1</integer>
			<key>fontSize</key>
			<real>2</real>
			<key>orientation</key>
			<integer>3</integer>
			<key>text</key>
			<string>Card2:Text</string>
			<key>textColor</key>
			<string>32345678</string>
		</dict>
	</array>
	<key>cornerStyle</key>
	<integer>1</integer>
	<key>displayStyle</key>
	<integer>0</integer>
	<key>file</key>
	<string>Deck:File</string>
	<key>pageControlStyle</key>
	<integer>0</integer>
	<key>groupSize</key>
	<integer>0</integer>
	<key>isShuffled</key>
	<false/>
	<key>name</key>
	<string>Deck:Name</string>
	<key>wantsAutoRotate</key>
	<true/>
	<key>wantsPageControl</key>
	<false/>
	<key>wantsPageJumps</key>
	<false/>
	<key>shakeAction</key>
	<integer>1</integer>
	<key>VERSION</key>
	<integer>2</integer>
</dict>
</plist>
