<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cards</key>
	<array>
		<dict>
			<key>BackgroundColor</key>
			<string>101010</string>
			<key>Orientation</key>
			<string>u</string>
			<key>Text</key>
			<string>YES</string>
			<key>TextColor</key>
			<string>00ff00</string>
		</dict>
		<dict>
			<key>BackgroundColor</key>
			<string>000000</string>
			<key>Orientation</key>
			<string>u</string>
			<key>Text</key>
			<string>NO</string>
			<key>TextColor</key>
			<string>ff0000</string>
		</dict>
		<dict>
			<key>BackgroundColor</key>
			<string>000000</string>
			<key>Orientation</key>
			<string>l</string>
			<key>Text</key>
			<string>PERHAPS</string>
			<key>TextColor</key>
			<string>ffff00</string>
		</dict>
	</array>
	<key>DefaultBackgroundColor</key>
	<string>000000</string>
	<key>DefaultTextColor</key>
	<string>ffffff</string>
	<key>File</key>
	<string>YesNoPerhaps.CardDeck</string>
	<key>Name</key>
	<string>Yes, No, Perhaps</string>
</dict>
</plist>
