<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cards</key>
	<array>
		<dict>
			<key>Text</key>
			<string>0</string>
			<key>TextColor</key>
			<string>ffffff</string>
			<key>BackgroundColor</key>
			<string>000000</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>1</string>
			<key>TextColor</key>
			<string>ffffff</string>
			<key>BackgroundColor</key>
			<string>000000</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>2</string>
			<key>TextColor</key>
			<string>ffffff</string>
			<key>BackgroundColor</key>
			<string>000000</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>3</string>
			<key>TextColor</key>
			<string>ffffff</string>
			<key>BackgroundColor</key>
			<string>000000</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>4</string>
			<key>TextColor</key>
			<string>ffffff</string>
			<key>BackgroundColor</key>
			<string>000000</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>5</string>
			<key>TextColor</key>
			<string>ffffff</string>
			<key>BackgroundColor</key>
			<string>000000</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>6</string>
			<key>TextColor</key>
			<string>ffffff</string>
			<key>BackgroundColor</key>
			<string>000000</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>7</string>
			<key>TextColor</key>
			<string>ffffff</string>
			<key>BackgroundColor</key>
			<string>000000</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>8</string>
			<key>TextColor</key>
			<string>ffffff</string>
			<key>BackgroundColor</key>
			<string>000000</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>9</string>
			<key>TextColor</key>
			<string>ffffff</string>
			<key>BackgroundColor</key>
			<string>000000</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>10</string>
			<key>TextColor</key>
			<string>ffffff</string>
			<key>BackgroundColor</key>
			<string>000000</string>
		</dict>
    </array>
</dict>
</plist>
