<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CardDecks</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Yes, No, Perhaps</string>
			<key>File</key>
			<string>YesNoPerhaps.CardDeck</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Red, Yellow, Green</string>
			<key>File</key>
			<string>RedYellowGreen.CardDeck</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>60, 45, 30, 15, 10, 5, 0</string>
			<key>File</key>
			<string>60-0.CardDeck</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>15, 10, 5, 0</string>
			<key>File</key>
			<string>15-0.CardDeck</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>0, ..., 10</string>
			<key>File</key>
			<string>0-10.CardDeck</string>
		</dict>
	</array>
</dict>
</plist>
